@{
    ViewData["Title"] = "About Our Venue";
}

<h1>Our Venue - Forest Lakes Camping and Conference Centre</h1>

<p>
    Approximately 2km North of Otaki, a 40 minute drive from Wellington, and neslted on the shores of Lake Waitawa is the Forest Lakes Camping and Conference Centre.
</p>

<div class="row">
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/ForestLakes-Sign.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/ForestLakes-Sign_tn.jpg" class="rounded" />
        </a>
    </div>
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/ForestLakes-WaterSlide.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/ForestLakes-WaterSlide_tn.jpg" class="rounded" />
        </a>
    </div>
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/ForestLakes-Archery.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/ForestLakes-Archery_tn.jpg" class="rounded" />
        </a>
    </div>
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/ForestLakes-MiniGolf.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/ForestLakes-MiniGolf_tn.jpg" class="rounded" />
        </a>
    </div>
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/ForestLakes-Pool.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/ForestLakes-Pool_tn.jpg" class="rounded" />
        </a>
    </div>
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/LakeLodge_Lounge.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/LakeLodge_Lounge_tn.jpg" class="rounded" />
        </a>
    </div>
    <div class="col-sm text-center my-3">
        <a href="https://photos.furco.nz/2020/ForestLakes-CampMap.jpg" data-fancybox="regular-gallery">
            <img src="https://photos.furco.nz/2020/ForestLakes-CampMap_tn.jpg" class="rounded" />
        </a>
    </div>
</div>

<p>
    Forest Lakes offer a range of accommodation options for our attendees, from simple bunkrooms for Regular attendees up to motel-style accommodation for our Sponsors.
</p>

<p>
    In addition to activites and events planned by FurCoNZ Staff, Forest Lakes offer a large range of other facilities and activities:
</p>
<ul>
    <li>Flying Foxes</li>
    <li>Swimming Pool</li>
    <li>10-Pin Bowling</li>
    <li>Confidence Course</li>
    <li>Mini Golf</li>
    <li>Archery (subject to availability)</li>
    <li>Kayaks (subject to availability)</li>
    <li>Water Slide</li>
    <li>Mud Slide</li>
    <li>Volleyball</li>
    <li>Orienteering Courses</li>
    <li>Sports field</li>
    <li>Lake and Bush walks</li>
    <li>as well as the Lake for all types of boating and water activities</li>
</ul>

<p>
    There are also a number of other attractions around the Kapiti area, such as:
</p>
<ul>
    <li><a href="http://www.owlcatraz.co.nz/">"Owlcatraz" Native Bird and Wildlife Park</a>,</li>
    <li><a href="https://www.staglands.co.nz/">Staglands Wildlife Reserve & Cafe</a>,</li>
    <li><a href="http://ngamanu.co.nz/">Ngā Manu Nature Reserve</a>,</li>
    <li><a href="https://www.southwardcarmuseum.co.nz/">Southward Car Museum</a>,</li>
    <li><a href="https://www.wellingtontrams.org.nz/">Kapiti Electric Tramway</a>,</li>
    <li><a href="https://www.gw.govt.nz/QEP/">Queen Elizabeth Park</a>,</li>
    <li>and <a href="https://www.kapiticoastnz.com/explore-kapiti/attractions-and-activities/beaches-in-kapiti/">Kapiti's numerous beaches</a>.</li>
</ul>