
@{
    ViewData["Title"] = "News";
}

<h1>News</h1>

@* TODO: Generate this content from the database *@

<h2>FurCoNZ 2020 Registrations OPEN</h2>
<small class="text-muted">Posted on November 24, 2019</small>
<p>
    Greetings Furs, and welcome to the FurCoNZ 2020 website.
</p>

<p>
    Thank you all for your patience.
</p>

<p>
    We are pleased to announce that registrations for FurCoNZ 2020 are now <b>OPEN!</b> Please make sure you follow the login link to
    furry.nz to create your login.
</p>

<p>
    For those furs who are interested, be sure to check out the links above for <a href="/Contact/ActivityOrTalk">suggesting Activities</a>,
    <a asp-controller="Contact" asp-action="DealersDen">Dealers Den sign-up</a>, or just <a asp-controller="Contact" asp-action="Volunteer"> volunteering to help make FurCoNZ successful</a>.
</p>

<p>
    Please <a asp-controller="Contact" asp-action="Index">contact us</a> if you have any questions or issues not covered in our <a asp-controller="Home" asp-action="Terms">Terms and Conditions</a>
    or our <a asp-controller="Home" asp-action="FAQ">FAQ</a>.
</p>

<p>
    We look forward to seeing you at Forest Lakes, Otaki, for FurCoNZ 2020!.
</p>

<h2>FurCoNZ 2020 Announced!</h2>
<small class="text-muted">Posted on August 15, 2019</small>

<p>Mark your calendars! It’s going to be the bee’s knees! FurCoNZ is scheduled for Jan 30th – Feb 2nd 2020 @@ Forest Lakes in Otaki, NZ. More information to follow!</p>

<h2>FurCoNZ 2020</h2>
<small class="text-muted">Posted on August 16, 2018</small>

<p>Thanks everyone for making FurCoNZ 2018 a success! The FurCoNZ team is taking off a year and will come back with FurCoNZ 2020. We have a lot of plans we’d like to see for 2020 and will keep you up to date with new information as it becomes available!</p>

