
@{
    ViewData["Title"] = "Ticket";
}

<h1>Ticket Information</h1>

<div class="card  mb-3">
    <div class="card-body">
        <p class="card-title h5">Regular</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$199</strong>, Quantity: <strong>99+</strong></p>
        <p class="card-text">
            You will be housed in the Main Camp area, in shared bunkrooms with 4 to 6 people.
            Regular Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            Access to all events and main camp facilities.
        </p>
        <div class="row">
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Regular/Regular_Bunkroom1.jpg" data-fancybox="regular-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Regular/Regular_Bunkroom1_tn.jpg" class="rounded" />
                </a>
            </div>
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Regular/Regular_Bunkroom2.jpg" data-fancybox="regular-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Regular/Regular_Bunkroom2_tn.jpg" class="rounded" />
                </a>
            </div>
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Regular/Regular_Exterior.jpg" data-fancybox="regular-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Regular/Regular_Exterior_tn.jpg" class="rounded" />
                </a>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3">
    <div class="card-body">
        <p class="card-title h5">Premium</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$249</strong>, Quantity: <strong>30</strong></p>
        <p class="card-text">
            You will be housed in the Lake Lodge, in twin share rooms. The Lake Lodge features a large common area and kitchen with tea/coffee making facilities.
            Premium Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            Access to all events and main camp facilities.
        </p>
        <div class="row">
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Premium/Premium_Bedroom.jpg" data-fancybox="premium-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Premium/Premium_Bedroom_tn.jpg" class="rounded" />
                </a>
            </div>
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Premium/Premium_Exterior.jpg" data-fancybox="premium-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Premium/Premium_Exterior_tn.jpg" class="rounded" />
                </a>
            </div>
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Premium/Premium_Lounge.jpg" data-fancybox="premium-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Premium/Premium_Lounge_tn.jpg" class="rounded" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="clrd-title h5">Sponsor</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$349</strong>, Quantity: <strong>15</strong></p>
        <p class="card-text">
            You will be housed in the Lakeside Villas. The Lakeside Villas are modern motel-style accomodation units for four people, with twin share bedrooms. These units feature their own lounge (with TV), kitchenette, and toilet and shower facilities.
            Premium Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            You will have access to all events and main camp facilities, as well as excusive access to the Sponsor's Lounge.
            As Sponsor, you will have priority access at mealtimes and have priority to limited access events, such as Archery and Kayaking.
            In addition you will have a custom YCH badge, by LupaArts, and a complimentary toiletry pack.
        </p>
        <div class="row">
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Sponsor/Sponsor_Bedroom.jpg" data-fancybox="sponsor-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Sponsor/Sponsor_Bedroom_tn.jpg" class="rounded" />
                </a>
            </div>
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Sponsor/Sponsor_Kitchenette.jpg" data-fancybox="sponsor-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Sponsor/Sponsor_Kitchenette_tn.jpg" class="rounded" />
                </a>
            </div>
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/Sponsor/Sponsor_Lodges.jpg" data-fancybox="sponsor-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/Sponsor/Sponsor_Lodges_tn.jpg" class="rounded" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="clrd-title h5">Super Sponsor</p>
        <p class="card-subtitle mb-2 text-muted">
            Price: <strong>$750</strong>, Quantity: <strong>1</strong>
        </p>
        <p class="card-text">
            You will be housed in your own SuperKing room in the Lakeside Villas. The Lakeside Villas are modern motel-style accomodation units for four people each. These units feature their own lounge (with TV), kitchenette, and toilet and shower facilities.
            Premium Registration includes full catering for Friday and Saturday, as well as breakfast and lunch on Sunday.
            You will have access to all events and main camp facilities, as well as excusive access to the Sponsor's Lounge.
            As SuperSponsor, you will have priority access at mealtimes and have first in line priority to limited access events, such as Archery and Kayaking.
            In addition to a complimentary toiletry pack, you will receive a custom art badge by Nai-chan, a FurCoNZ T-Shirt, and other goodies.
        </p>
        <div class="row">
            <div class="col-sm text-center my-3">
                <a href="https://photos.furco.nz/2020/Accommodation/SuperSponsor/SuperSponsor_Bedroom.jpg" data-fancybox="super-sponsor-gallery">
                    <img src="https://photos.furco.nz/2020/Accommodation/SuperSponsor/SuperSponsor_Bedroom_tn.jpg" class="rounded" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-body">
        <p class="clrd-title h5">Day Pass</p>
        <p class="card-subtitle mb-2 text-muted">Price: <strong>$50 per day</strong>, Quantity: <strong>10+</strong></p>
        <p class="card-text">
            You will have access to main camp facilities between 10am and 7pm. You will have access to all FurCoNZ events during this time (please note that some events have participant limits and will require sign-up) Price also includes catered Lunch and Dinner.
        </p>
    </div>
</div>
